* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/sunny.jpg');
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 5rem;
    color: #d3d3d3;
    text-shadow: 2px 4px 3px black;
    text-align: center;
}

.app-main {
    width: 50vh;
    margin: 75px auto;
    background-color: rgba(240, 248, 255, 0.6);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.app-main > * {
    margin-bottom: 20px;
}

.input-box, .btn{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    color: #03045e;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

.btn {
    background-color: #03045e;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.01);
    background-color: #001845;
    color: white;
}

.weather-body {
    display: none;
    color: #03045e;
    padding: 20px;
    line-height: 2.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 50vh;
}

.location-details {
    font-size: 1.3rem;
    font-weight: bold;
}

.city {
    font-size: 1.6rem;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 4rem;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.min-max, .weather {
    font-size: 1.2rem;
    font-weight: 600;
}